# macOS
# ------------------------------------------------------------------------------
**/._*
**/.DS_*

# Node
# ------------------------------------------------------------------------------
**/node_modules/
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.zip
.npm
.yarn-integrity
logs
npm-debug.log*
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
yarn-debug.log*
yarn-error.log*

# Yarn 2 (Not using Zero-Installs)
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
# ------------------------------------------------------------------------------
.pnp.*
.yarn/*
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Environment
# ------------------------------------------------------------------------------
**/.env.repo

# TypeScript
# ------------------------------------------------------------------------------
*.tsbuildinfo

# ESLint
# ------------------------------------------------------------------------------
**/.eslintcache

# Builds
# ------------------------------------------------------------------------------
lib/*.d.mts
lib/*.d.mts.map

# Releases
# ------------------------------------------------------------------------------
**/RELEASE_NOTES.md

# Misc
# ------------------------------------------------------------------------------
**/.temp/
**/*.scratch.*
**/scratch.*
